[Desktop Entry]
Name=Cachy Security Suite
Comment=Security and audit suite for Arch Linux & CachyOS
GenericName=Security Suite
Exec=/run/media/julian/HDD/Linux/aur-scanner-gui/cachy-security-suite
Icon=/run/media/julian/HDD/Linux/aur-scanner-gui/resources/aur-scanner-256.png
Terminal=false
Type=Application
Categories=System;Security;Utility;
Keywords=aur;scanner;security;arch;pkgbuild;pacman;yay;paru;
StartupNotify=true
